:root {
  --fg-h: 0;
  --fg-s: 0%;
  --fg-l: 7%;
  --fg-hsl: var(--fg-h), var(--fg-s), var(--fg-l);

  --bg-h: 0;
  --bg-s: 0%;
  --bg-l: 100%;
  --bg-hsl: var(--bg-h), var(--bg-s), var(--bg-l);

  --fg: hsl(var(--fg-hsl));
  --bg: hsl(var(--bg-hsl));

  --light-multiplier: -1;

  --theme-border-focused-width: 1.875px;
  --theme-border-base-width: 1.25px;

  --error-color: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-h: 0;
    --fg-s: 0%;
    --fg-l: 83%;

    --bg-h: 0;
    --bg-s: 0%;
    --bg-l: 7%;

    --light-multiplier: 1;
  }
}

html, body, #root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

body {
  padding: 1rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: none;
  margin: 0;
  box-shadow: 0 0 0 var(--theme-border-base-width) currentColor;
}
button:hover, button:focus, button:focus-visible {
  box-shadow: 0 0 0 var(--theme-border-focused-width) currentColor;
}

.react-flow__controls button path {
  fill: var(--fg);
}

.react-flow__controls {
  box-shadow: 0 1px 4px 1px hsla(var(--fg-hsl), 0.40);
}

.react-flow__controls button {
  background: var(--bg);
  border: none;
  color: var(--fg);
  /* box-shadow: none;
  border-right: var(--theme-border-base-width) solid currentColor;
  border-left: var(--theme-border-base-width) solid currentColor;
  border-top: var(--theme-border-base-width) solid currentColor; */
}
/* .react-flow__controls button:last-child {
  border-bottom: var(--theme-border-base-width) solid currentColor;
} */

.react-flow__controls button:hover,
.react-flow__controls button:focus,
.react-flow__controls button:focus-visible {
  background: var(--bg);
  box-shadow: 0 0 0 var(--theme-border-focused-width) currentColor;
  z-index: 100000;
  position: relative;
}

.react-flow__node {
  color: var(--fg);
  border-color: var(--fg);
  background-color: var(--bg);
  border: none;
  box-shadow: 0 0 0 var(--theme-border-base-width) currentColor;
}

.react-flow__node.selectable.selected,
.react-flow__node.selectable:focus,
.react-flow__node.selectable:hover,
.react-flow__node.selectable:focus-visible {
  box-shadow: 0 0 0 var(--theme-border-focused-width) currentColor;
}
