input:invalid,
input.invalid,
input.FormInput:invalid,
input.FormInput.invalid {
  border-color: var(--error-color);
}

input.FormInput:focus-visible {
  outline: none;
  border-style: dotted;
}

.FormControl {
  display: grid;
}

.FormControl.complex:has(input:invalid, input.invalid) {
  outline: 2px solid var(--error-color);
}

.FormControl input {
  margin: 0;
}

.FormHelperText {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.FormHelperText.invalid {
  color: var(--error-color);
}
